extends layout.pug

block main

    form(action=`/books${path}/search`, method='POST')
        input(type='text' name='searchInput' placeholder='Search for...')
        input(type='submit', value='Search')

    h1 Books
    p
        a.button(href='/books/new') Create New Book
    p
        | Filters 
        a(href='/books/all') All
        |  | 
        a(href='/books/overdue') Overdue
        |  | 
        a(href='/books/checkout') Checked Out
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            //- if overdueFilter
            //-     each book in books
            //-         if(book.Loans.length > 0 && !book.Loans[book.Loans.length - 1].dataValues.returned_on && book.Loans[book.Loans.length - 1].dataValues.return_by < today)
            //-             tr
            //-                 td
            //-                     a(href=`/books/${book.id}`) #{book.title}
            //-                 td= book.author
            //-                 td= book.genre
            //-                 td= book.first_published
            //-                 - let n = 0
            //- else if checkoutFilter
            //-     each book, index in books
            //-         if(book.Loans.length > 0 && !book.Loans[book.Loans.length - 1].dataValues.returned_on && index >= offsetIndex * 8 && index < (offsetIndex+1))
            //-             tr
            //-                 td
            //-                     a(href=`/books/${book.id}`) #{book.title}
            //-                 td= book.author
            //-                 td= book.genre
            //-                 td= book.first_published
            each book, index in books
                if index >= offsetIndex * 8 && index < (offsetIndex+1) * 8
                    tr
                        td
                            a(href=`/books/${book.id}`) #{book.title}
                        td= book.author
                        td= book.genre
                        td= book.first_published
    - let n = 0
    div(class='pagination')
        ul  
            while n * 8 < books.length
                li
                    a(href=`/books${path}/pagination/${++n}`) #{n}