extends layout.pug

block main
    h1 Books
    p
        a.button(href='/books/new') Create New Book
    p
        | Filters 
        a(href='/books/all') All
        |  | 
        a(href='/books/overdue') Overdue
        |  | 
        a(href='/books/checkout') Checked Out
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            if overdueFilter
                each book in books
                    if(book.Loans.length > 0 && !book.Loans[book.Loans.length - 1].dataValues.returned_on && book.Loans[book.Loans.length - 1].dataValues.return_by < today)
                        tr
                            td
                                a(href=`/books/${book.id}`) #{book.title}
                            td= book.author
                            td= book.genre
                            td= book.first_published
            else if checkoutFilter
                each book in books
                    if(book.Loans.length > 0 && !book.Loans[book.Loans.length - 1].dataValues.returned_on)
                        tr
                            td
                                a(href=`/books/${book.id}`) #{book.title}
                            td= book.author
                            td= book.genre
                            td= book.first_published
            else 
                 each book in books
                    tr
                        td
                            a(href=`/books/${book.id}`) #{book.title}
                        td= book.author
                        td= book.genre
                        td= book.first_published
