extends layout.pug

block main
    h1 Loans
    p
        a.button(href='/loans/new') Create New Loan
    p
        | Filters 
        a(href='/loans/all') All
        |  | 
        a(href='/loans/overdue') Overdue
        |  | 
        a(href='/loans/checkout') Checked Out
    table
        thead
            tr
                th Book
                th Patron 
                th Loaned on
                th Return by 
                th Returned on
                th Action
        tbody
            if overdueFilter
                each loan in loans
                        if(!loan.returned_on && loan.return_by < today)
                            tr
                                td
                                    a(href=`/books/${loan.Book.dataValues.id}`) #{loan.Book.dataValues.title}
                                td  
                                    a(href=`/patrons/${loan.Patron.dataValues.id}`) #{loan.Patron.dataValues.first_name} #{loan.Patron.dataValues.last_name}
                                td  #{loan.loaned_on}
                                td  #{loan.return_by}   
                                td  #{loan.returned_on}   
                                if(!loan.returned_on)
                                    td
                                        a(href=`/books/return/${loan.id}`) Return Book
            else if checkoutFilter
                each loan in loans
                        if(!loan.returned_on)
                            tr
                                td
                                    a(href=`/books/${loan.Book.dataValues.id}`) #{loan.Book.dataValues.title}
                                td  
                                    a(href=`/patrons/${loan.Patron.dataValues.id}`) #{loan.Patron.dataValues.first_name} #{loan.Patron.dataValues.last_name}
                                td  #{loan.loaned_on}
                                td  #{loan.return_by}   
                                td  #{loan.returned_on}   
                                if(!loan.returned_on)
                                    td
                                        a(href=`/books/return/${loan.id}`) Return Book
            else
                each loan in loans
                    tr
                        td
                            a(href=`/books/${loan.Book.dataValues.id}`) #{loan.Book.dataValues.title}
                        td  
                            a(href=`/patrons/${loan.Patron.dataValues.id}`) #{loan.Patron.dataValues.first_name} #{loan.Patron.dataValues.last_name}
                        td  #{loan.loaned_on}
                        td  #{loan.return_by}   
                        td  #{loan.returned_on}   
                        if(!loan.returned_on)
                            td
                                a(href=`/books/return/${loan.id}`) Return Book
                    