extends layout.pug

block main 

    include includes/errors

    h1 New Loan
    
    form(action='/loans/new', method='POST')
        p
            label(for='book_id') Book
            select(name='book_id')
                each book, index in allBooks
                    if index === 0
                        option(value=book.id selected) #{book.title}
                    else
                        option(value=book.id) #{book.title}
        p
            label(for='patron_id') Patron
            select(name='patron_id')
                each patron,index in allPatrons
                    if index === 0
                        option(value=patron.id selected) #{patron.first_name} #{patron.last_name}
                    else
                        option(value=patron.id) #{patron.first_name} #{patron.last_name}
        p
            label(for='loaned_on') Loaned on:
            input#loaned_on(type='text', name='loaned_on' value=today)
        p
            label(for='return_by') Return by:
            input#return_by(type='text', name='return_by', value=weekFromToday)
        p
            input(type='submit', value='Create New Loan')